doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title js13kgames 2017
    style(type='text/css')
      include index.css

  body
    h1 Retro Castlevania Colosseum
    p.
      Oh, no! I fell my phone the tower! Now I have to take all these stairs
      downstairs :-(
    #app
    footer
      a(href='https://github.com/Ryuno-Ki/js13kgames-2017') Fork me on GitHub
      p
        | Name fell off of 
        a(href='https://www.videogamena.me/' target='_blank') VideoGameName
    script(type='text/javascript')
      include /index.js
