* {
  margin-bottom: 0;
}

body {
  background-color: white;
  color: black;
  overflow-x: hidden;
}

body.flash {
  background-color: red;
  color: yellow;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
