doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title js13kgames 2017
    style(type='text/css')
      include index.css

  body
    .score
      p
        | Score:
        span#elapsed
    script(type='text/javascript' src='/index.js')
